//colour variables

$primary-colour: black;
$secondary-colour: #41706C;
$link-colour: #fff;
$button-colour: #fff;
$icon-colour: #fff;
$background-colour: #F1F1F1;
$form-background-colour: #fff;
$description-text-colour: #888888;

//Font variables

$font-family-logo: 'Playfair Display', serif;
$font-family-base: "Lato", serif;